.toggle-text > .track {
    
     width: auto;
     padding-left: 25px;
     padding-right: 25px;
    
   }
    
   .toggle-text .handle {
     left: 7px;
   }
    
   .toggle-text .handle-text {
     font-size: 24px;
     color: white;
    
     position: absolute;
     top: -4px;
     
   }
    
   .toggle-text .handle-text-false {
     left: 36px;
   }
    
   .toggle-text input:checked + .track .handle {
     -webkit-transform: none;
     -moz-transform: none;
     transform: none;
     left: calc(100% - 60px);
   }
   .track-text {
     line-height: 26px;
     color: white;
     font-size: 24px;
     padding-left: 10px;
     padding-right: 10px;
   }